.product-description-pdp{
    min-height: 110px;
}
.quantity-select{
    background: none;
    padding:unset;
    text-align: center;
}

.carousel-inner {
    .carousel-item.active,
    .carousel-item-next,
    .carousel-item-prev {
        display: flex;
    }
    
    .carousel-item-right.active,
    .carousel-item-next {
        transform: translateX(25%);
    }
    
    .carousel-item-left.active,
    .carousel-item-prev {
        transform: translateX(-25%);
    }
    
    .carousel-item-right,
    .carousel-item-left {
        transform: translateX(0);
    }
}